// home
.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black-light, 0.7),
      rgba($color-black-dark, 0.7)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;

  &__text {
    grid-row: 2 / 3;
    grid-column: 1 / span 3;
    align-self: center;
    justify-self: center;

    @media only screen and (max-width: $bp-large) {
      align-self: start;
      margin-left: -5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;

      font-size: 4rem !important;
    }

    @media only screen and (max-width: 18.75em) {
      font-size: 2.5rem !important;
    }
  }

  &__right {
    animation: moveInRight 1s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__left {
    animation: moveInLeft 1s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

// prints
.print__header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black-light, 0.7),
      rgba($color-black-dark, 0.7)
    ),
    url(../img/prints-hero.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content repeat(3, 1fr);
  gap: 1.5rem;

  @media only screen and (max-width: 31.25em) {
    gap: 0;
  }

  &-heading {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    letter-spacing: 7px;
    text-transform: uppercase;

    animation: moveInTop 0.5s ease-out 0.75s backwards;
  }

  &-text {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    justify-self: center;

    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1px;
    color: var(--color-white);
    animation: moveInRight 1s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.3rem;
    }

    @media only screen and (max-width: 43.75em) {
      align-self: center;
    }

    @media only screen and (max-width: 31.25em) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: var(--default-font-size);
      letter-spacing: 1.5px;
    }

    @media only screen and(max-width:18.75em) {
      font-size: 1.35rem;
      letter-spacing: 1px;
    }

    @media only screen and(max-width: 14.38em) {
      font-size: 1.2rem;
      letter-spacing: 0;
    }
  }

  &-primary {
    grid-row: 4 / -1;
    grid-column: 2 / 5;

    &--1 {
      grid-column: 1 / span 4;
      justify-self: center;
    }

    &--2 {
      grid-column: 5 / span 4;
      justify-self: center;
    }
  }
}

// gallery
.header-gallery {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  color: var(--color-white);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black-light, 0.7),
      rgba($color-black-dark, 0.7)
    ),
    url(../img/gallery-hero.jpg);
  background-size: cover;
  background-position: center;

  &__heading {
    grid-area: 2 / 1 / 3 / -1;
    align-self: self-end;

    font-family: var(--font-display);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4.5rem;
    color: currentColor;
    letter-spacing: 0.7rem;
    line-height: 1.2;

    @media only screen and (max-width: 112.5em) {
      font-size: 5.5rem;
      letter-spacing: 1rem;
    }

    @media only screen and (max-width: 50em) {
      font-size: 5rem;
    }

    @media only screen and (max-width: 31.25em) {
      font-size: 4.25rem;
    }

    @media only screen and (max-width: 17.5em) {
      font-size: 4rem;
      letter-spacing: 0.5rem;
    }
  }
}

// design
.header__design {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black-light, 0.7),
      rgba($color-black-dark, 0.7)
    ),
    url(../img/design-hero.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  row-gap: 2rem;

  &-heading {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    justify-self: center;
    align-self: end;

    text-transform: uppercase;
    letter-spacing: 5px;
    animation: moveInBottom 0.5s ease-out 0.75s backwards;

    @media only screen and (max-width: $bp-largest-x1),
      (min-width: $bp-largest-x1) {
      grid-column: 2 / span 4;
      letter-spacing: 7px;
    }

    @media only screen and (max-width: $bp-largest) {
      letter-spacing: 0;
    }

    @media only screen and (max-width: 62.5em) {
      letter-spacing: 3px;
      grid-column: 2 / span 4;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
    }

    @media only screen and (max-width: 23.13em) {
      font-size: 2.7rem !important;
    }

    @media only screen and (max-width: 20em) {
      letter-spacing: 1px;
      font-size: 2.5rem !important;
    }

    @media only screen and (max-width: 18.75em) {
      font-size: 2rem !important;
    }
  }

  &-text {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
    align-self: start;

    font-size: 2.5rem;
    color: var(--color-white);
    letter-spacing: 1px;
    text-align: center;

    @media only screen and (max-width: $bp-largest-x1),
      (min-width: $bp-largest-x1) {
      grid-column: 2 / span 4;
    }

    @media only screen and (max-width: $bp-largest) {
      font-size: 2.3rem;
      letter-spacing: 0;
    }

    @media only screen and (max-width: 62.5em) {
      grid-column: 2 / span 4;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
    }

    @media only screen and (max-width: 23.13em) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 20em) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 18.75em) {
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }
}

// contact
.header-contact {
  background-color: paleturquoise;
  grid-column: full-start / full-end;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-black-light, 0.7),
      rgba($color-black-dark, 0.7)
    ),
    url(../img/contact-hero.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  row-gap: 1rem;

  &__heading {
    grid-row: 2 / 3;
    grid-column: 2 / span 4;
    justify-self: center;
    align-self: end;

    font-size: 4.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: var(--color-white);
    line-height: 1;
    animation: moveInBottom 0.5s ease-out 0.75s backwards;

    @media only screen and (max-width: 112.5em) {
      font-size: 5.5rem;
      letter-spacing: 1rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: 31.25em) {
      grid-column: 1 / -1;
      font-size: 3rem;
    }

    @media only screen and (max-width: 17.5em) {
      font-size: 2.5rem;
      letter-spacing: 5px;
    }
  }

  &__text {
    grid-row: 3 / 4;
    grid-column: 2 / span 4;
    justify-self: center;
    align-self: start;

    font-size: 2.5rem;
    color: var(--color-white);
    letter-spacing: 1px;
    text-align: center;
    animation: moveInLeft 0.5s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @media only screen and (max-width: 112.5em) {
      font-size: 3.7rem;
    }

    @media only screen and (max-width: 68.75em) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: $bp-large) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 31.25em) {
      grid-column: 1 / -1;
      font-size: 1.7rem;
    }

    @media only screen and (max-width: 17.5em) {
      font-size: 1.2rem;
    }

    span {
      display: block;
    }
  }
}

// about
.header-about {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black-light, 0.7),
      rgba($color-black-dark, 0.7)
    ),
    url(../img/about-hero.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  row-gap: 1rem;

  &__heading {
    grid-row: 2 / 3;
    grid-column: 2 / span 4;
    justify-self: center;
    align-self: end;

    font-size: 4.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: var(--color-white);
    line-height: 1;
    animation: moveInBottom 0.7s ease-out 1s backwards;

    @media only screen and (max-width: 43.75em) {
      font-size: 4rem;
      letter-spacing: 4px;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
      font-size: 3.7rem;
      letter-spacing: 3px;
    }

    @media only screen and (max-width: 31.25em) {
      font-size: 3.3rem;
      letter-spacing: 1px;
    }
  }

  &__text {
    grid-row: 3 / 4;
    grid-column: 2 / span 4;
    justify-self: center;
    align-self: start;

    font-size: 2.5rem;
    color: var(--color-white);
    letter-spacing: 1px;
    text-align: center;
    animation: moveInTop 0.5s ease-out 0.75s backwards;

    @media only screen and (max-width: 62.5em) {
      grid-column: 1 / -1;
    }

    @media only screen and (max-width: 43.75em) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: var(--default-font-size);
      letter-spacing: 0;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.4rem;
    }

    @media only screen and (max-width: 20.63em) {
      font-size: 1.3rem;
    }

    span {
      display: block;
    }
  }
}
